MAX_KEEP=5
BACKUP_SRC=
/home/pi
/etc
BACKUP_EXC=
/home/pi/esp/esp-idf
/home/pi/paru
/home/pi/.expressif
/home/pi/.viminfo
/home/pi/.bash_history
/home/pi/.python_history
/home/pi/.gitconfig
/home/pi/.wget-hsts
/home/pi/.cache
/home/pi/.local
/home/pi/.cargo
/home/pi/.ssh
/home/pi/.mozilla
/home/pi/.smb_credentials_red
/home/pi/.smb_credentials_mirrorshare
/home/pi/.bash_logout
/home/pi/.bash_profile
BACKUP_DST=
/mnt/redshare/safekeeping/bustedbox/


